
.bodyformulario {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 179, 204);
}

.titulorestrito{
    color: blue;
    font-size: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prestrito{
    color: rgb(75, 15, 131);
    font-size: 30px;
    background-color: rgb(255, 80, 188);
    display: flex;
    justify-content: center;
    align-items: center;

}
.bodyrestrito{
    background-color: rgb(225, 194, 255);
    display:list-item;
}